//colors
$color_text:              #8d8d8d; //text color
$color_headline:          #1d3e6c;
$color_icon_text:         #3f3f3f;
$color_headline_gray:     #f2f2f2;
$color_white:             #ffffff;
$gray_bg:                 #f0eef4;
$footer_bg:               #102643;
$footer_sublogo:          #9c9c9c;
$popup_orange_text:       #fd480c;
$popup_gray_text:         #999999;
$popup_blue_text:         #193a6b;
$prices_orange_text:      #ff7c35;
//ebay colors
$ebay_red:    #e53238;
$ebay_blue:   #0064d2;
$ebay_yellow: #f5af02;
$ebay_green:  #86b817;
//google colors
$google_blue:   #3f96ff;
$google_red:    #ea4335;
$google_yellow: #fbbc05;
$google_green:  #34a853;